table, th, td {
	border: 1px solid #858796;
	min-width: 150px;
	padding: 15px;
}
	
.btn-success {
    color: #fff;
    background-color: #1cc88a;
    border-color: #1cc88a;
    padding: 5px 50px 5px 50px !important;
    margin: 2%;
}

.btn-icon-split .icon {
    background: rgba(0,0,0,.15);
    display: inline-block;
    padding: .75rem .75rem !important;
}

#logout{
	border: none; 
	font-family: 'Nunito'; 
	font-size:15px;
	background: transparent;
	color: rgba(255,255,255,.8);
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 19px;
}

#logout:hover{
	color: #fff;
}

footer.sticky-footer {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
}

.sidebar {
    z-index: 1;
}